<app-header></app-header>

<main class="main">


   <div class="quotes">


      <div *ngFor="let quote of quotes ; let i = index" class="quote">


         <h2 class="heading-2 quote__author ">
            {{quote.author|uppercase}}
         </h2>

         <img [src]="toggleDownSrc" [alt]="toggleAlt" class="quote__toggle icon"
            (click)="toggleQuote(i)">

         <app-quote-detail *ngIf="quote.showQuote" [quote]="quote"
            (isDelete)="deleteQuote($event, i)" class="quote__quote"></app-quote-detail>

      </div>
   </div>
   <div>
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
   </div>

</main>