<div>
   <h2 class="form__heading">Create a new Quote</h2>
   <hr>
   <form (ngSubmit)="submitQuote();  myForm.resetForm()" #myForm="ngForm">


      <label for="author">Author</label>
      <input type="text" required id="author" [(ngModel)]="author" name="author">

      <label for="quote">Quote</label>
      <textarea rows="5" type="text" required id="quote" [(ngModel)]="quote"
         name="quote"></textarea>


      <input type="submit" class="btn" value="Add Quote">
   </form>

   <script>





   </script>
</div>